// @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");
@use "variables";

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fff;
  font-family: variables.$font-general;
}

// .container {
//   width: 90%;
//   max-width: 1200px;
//   margin: 0 auto;
//   background-color: aliceblue;
// }
