// @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");
@use "variables";

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fff;
  font-family: variables.$font-general;
}
.saison-topic {
  background-color: variables.$color-blue-light;

  &__text {
    font-family: variables.$font-accent;
  }
}

.title-accent {
  font-family: variables.$font-accent;
}

.my-color-light-bg {
  background-color: variables.$color-blue-light;
}
.my-color-bg {
  background-color: variables.$color-blue;
}
