@use "variables";

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fff;
  font-family: variables.$font-general;
}

.title-accent {
  font-family: variables.$font-accent;
}

.my-color-light-bg {
  background-color: variables.$color-blue-light !important;
}

.my-color-bg {
  background-color: variables.$color-blue;
}
